.right-slot {
    width: calc(90% - 600px);
    padding: 0 15px;
    justify-content: center;
    margin:auto;
    max-width: 500px;

}

.animated-div{
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;  
    display: none;
    transform: translateY(-30px);
}

.show{
    opacity: 1;
    transform: translateY(0px);
}

label{ 
    color: white!important;
}

.card-style{
    background-color: #1A1A1A !important;
    border:0px;
}
.table-hs3{
    border: 5px solid #9dff8e;
    background-color: #1A1A1A !important;
    color: #EEEEEE !important;
  }


.border-wrap-block-top{
    border-top: 3px dashed var(#9dff8e);
    border-left: 3px dashed var(#9dff8e);
}

.admin-marign-top-9-5{
    box-shadow: 1px 2px 4px 2px #dedede;
    background-color: #212121;
}

@media only screen and (max-width: 800px) {
    .admin-mainflex  .right-slot {
        width: 100%!important;
    }

    .admin-marign-top-9-5{
        margin-top: 10%;
   
    }
}

.text-highlight{
  color: #9dff8e!important;
}